name: Build Docker Images

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
    inputs:
      target_dir:
        description:
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - latex
          - ros_o
          - ros_o_jsk_aerial_robot

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dir:
          - latex
          - ros_o
          - ros_o_jsk_aerial_robot

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }} 

    - name: Build and push
      uses: docker/build-push-action@v2
      if: >-
        ${{
          github.event_name != 'workflow_dispatch' ||
          inputs.target_dir == 'all' ||
          inputs.target_dir == matrix.dir
        }}
      with:
        context: ${{ matrix.dir }}
        push: true
        tags: sugikazu75/${{ matrix.dir }}:latest
